
<div class="container mb-5 mt-5">

  <div class="card" *ngIf="hotel">
    <div class="card"></div>
    <div class="card-header text-white bg-info">
      {{hotel.hotelName | uppercase}}
    </div>

    <div class="card-body">

      <div class="row">
        <div class="col mb-8">
          <div class="row">
            <div class="col-md-4"> Name: </div>
            <div class="col-md-8">{{hotel.hotelName}}</div>
          </div>

          <div class="row">
            <div class="col-md-4"> Description: </div>
            <div class="col-md-8">{{hotel.description}}</div>
          </div>

          <div class="row">
            <div class="col-md-4"> Prix: </div>
            <div class="col-md-8">
              {{
                hotel.price
                | currency :"EUR" : "symbol" : "1.2-2" : "fr"
                | replaceComma
               }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"> Note: </div>
            <div class="col-md-8">
              <app-star-rating [rating]="hotel.rating">
              </app-star-rating>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <img
            [src]="hotel.imageUrl"
            [title]="hotel.hotelName | uppercase"
            class="card-img-top"
            [alt]="hotel.hotelName"
            />
        </div>

    </div>


    <div class="card-footer">
      <button class="btn btn-outline-info d-flex" (click)="backToList()">

        <span class="material-icons">
          keyboard_arrow_left
        </span>
        Back to list
      </button>
    </div>

</div>

</div>
